<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SnowTricks{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}
        
        <link rel="stylesheet" href="{{ asset('assets/css/uikit.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/snowtricks.css') }}">

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}

        <script src="{{ asset('assets/js/uikit.min.js') }}"></script>
        <script src="{{ asset('assets/js/uikit-icons.min.js') }}"></script>
        <script src="{{ asset('assets/js/snowtricks.js') }}"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            {% include "shared/_navbar.html.twig" %}
            
            <div class="uk-position-relative {% if app.request.attributes.get('_route') == 'home' %} uk-height-large {% endif %} uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="{{ img_header }}" uk-height-viewport="{% if app.request.attributes.get('_route') == 'home' %}offset-top: true{% else %}offset-bottom: 50{% endif %}" uk-img>
                {% block h1 %}{% endblock %}

                {% if app.request.attributes.get('_route') == 'home' %}
                    <div class="scroll-next">
                        <a href="#tricks" class="uk-icon-dark" uk-icon="chevron-down"></a>
                    </div>
                {% endif %}
            </div>
        </header>

        <main>
            <div class="uk-container">

                {% for type, messages in app.flashes %}
                    <div class="uk-margin-large-top">
                        <div class="uk-alert-{{ type }}" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            {% for message in messages %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}
            </div>
        </main>

        <footer class="uk-background-secondary uk-light uk-padding-small uk-panel">
            <div class="uk-text-center">
                SnowTricks {{ 'now'|date('Y') }} - Steven Oyer
            </div>
        </footer>
        
    </body>
</html>
