<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">
                <a href="{{ path('home') }}">
                    <img class="logo-nav" width="48" height="60" src="{{ asset('assets/img/logo_snowtricks.png') }}" alt="Logo SnowTricks">
                </a>
            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('home') }}#tricks">Tricks</a></li>
                    {% if app.user %}
                        <li><a href="#">My profile</a></li>
                        <li>
                            <a href="{{ path('security_logout') }}">
                                <button class="uk-button uk-button-danger uk-button-small">Logout</button>
                            </a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('security_login') }}">Sign in</a></li>
                        <li>
                            <a href="{{ path('security_register') }}">
                                <button class="uk-button uk-button-primary uk-button-small">Sign up</button>
                            </a>
                        </li>
                    {% endif %}
                </ul>

            </div>

        </div>
    </div>
</nav>