{% extends 'base.html.twig' %}

{% block title %}Snowtricks - {{ item.title }}{% endblock %}

{% if item %}
    {% set img_header = asset('uploads/pictures/' ~ item.mainPicture) %}
{% endif %}


{% block h1 %}
    <h1 class="uk-text-uppercase">{{ item.title }}</h1>
{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="uk-padding-small uk-text-right">
            <a href="{{ path('trick_edit', { slug: item.slug }) }}" class="uk-button uk-button-primary uk-margin-right"><span uk-icon="pencil"></span></a>
            <a onclick="return confirm('Do you really want to delete this trick?');" href="{{ path('trick_delete', { slug: item.slug }) }}" class="uk-button uk-button-danger trick-delete"><span uk-icon="trash"></span></a>
        </div>
    {% endif %}

    <div id="toggle-btn-media" class="uk-text-center uk-margin">
        <button href="#toggle-medias" class="uk-button uk-button-default" type="button" uk-toggle="target: #toggle-medias; animation: uk-animation-fade;">See medias</button>
    </div>

    <div id="toggle-medias" class="uk-margin" uk-slider hidden>

        <div class="uk-position-relative">

            <div class="uk-slider-container uk-dark">
                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid-small">
                    {% for k, image in item.images %}
                        {% if image.name %}
                            <li>
                                <a href="#modal-media-image-{{ k }}" uk-toggle>
                                    <img src="{{ asset('uploads/pictures/' ~ image.name) }}" alt="{{ image.alt }}" class="img-slide--trick-show">
                                </a>

                                <div id="modal-media-image-{{ k }}" class="uk-flex-top" uk-modal>
                                    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                                        <img src="{{ asset('uploads/pictures/' ~ image.name) }}" width="285" height="250" alt="{{ image.alt }}">
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% for k, video in item.videos %}
                        {% if video.url %}
                            <li>
                                <a href="#modal-media-video-{{ k }}" uk-toggle>
                                    <div class="video-layer">
                                        <iframe src="{{ video.url }}" controls="false" width="285" height="250" frameborder="0"></iframe>
                                    </div>
                                </a>

                                <div id="modal-media-video-{{ k }}" class="uk-flex-top" uk-modal>
                                    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                                        <iframe src="{{ video.url }}" width="1024" height="720" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="uk-hidden@s uk-light">
                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>

            <div class="uk-visible@s">
                <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>

    <div class="trick-desc uk-margin-large-top">
        <p>{{ item.introtext }}</p>
        <p>{{ item.content }}</p>
    </div>

    <div class="trick-info uk-margin-top uk-text-center">
        <span class="uk-badge"><i uk-icon="icon: info; ratio: 0.8;" class="uk-margin-small-right"></i> {{ item.category.name }}</span>
        <span class="uk-badge"><i uk-icon="icon: clock; ratio: 0.8;" class="uk-margin-small-right"></i> {{ item.createdAt|date('d F Y H:i') }}</span>
        <span class="uk-badge"><i uk-icon="icon: clock; ratio: 0.8;" class="uk-margin-small-right"></i> {{ item.updateAt|date('d F Y H:i') }}</span>
        <span class="uk-badge"><i uk-icon="icon: user; ratio: 0.8;" class="uk-margin-small-right"></i> {{ item.author.name }}</span>
    </div>


    {% if app.user %}
        <hr>
        <div id="comment" class="uk-padding-top uk-padding-bottom uk-margin">

                {{ form_start(commentForm) }}

                    {{ form_widget(commentForm.content) }}

                    <div class="uk-text-right uk-margin">
                        <button type="submit" class="uk-button uk-button-primary">Leave a comment</button>
                    </div>

                {{ form_end(commentForm) }}
            
        </div>
    {% endif %}

    <hr>

    <div id="comments" class="uk-padding-top uk-padding-bottom uk-margin-large-bottom">
        <h2>Comments</h2>
        {% for comment in item.comments|reverse|slice(0, 10) %}
            <article class="uk-comment uk-comment-primary uk-margin" role="comment">
                <header class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="{{ asset('uploads/avatars/' ~ comment.author.avatar) }}" width="80" height="80" alt="Profile user {{ comment.author.name }}">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-comment-title uk-margin-remove">{{ comment.author.name }}</h4>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li>{{ comment.createdAt | date('d F Y H:i') }}</li>
                                {% if comment.author == app.user %}
                                    <li>
                                        <a onclick="return confirm('Do you really want to delete this comment?');" href="{{ path('delete_comment', {'slug': item.slug, 'id': comment.id}) }}" class="uk-button uk-button-text uk-text-danger" uk-icon="trash"></a>
                                    </li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                </header>
                <div class="uk-comment-body">
                    <p>{{ comment.content }}</p>
                </div>
            </article>
        {% endfor %}
    </div>

    {% if item.comments|length > 10 %}
        <div class="load-more uk-margin-top uk-text-center uk-padding">
            <button onclick="loadMoreComments()" class="uk-button uk-button-secondary">Load more</button>
        </div>
    {% endif %}


{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let itemId = "{{ item.id }}";
        clickComments = 0;

        function loadMoreComments()
        {
            clickComments++;
            let start = 10 * clickComments;
            console.log(start)
            let url = "{{ path('load_comments', {'id': item.id}) }}/" + start;
            
            axios.get(url)
                .then((response) => {
                    document.querySelector('#comments').insertAdjacentHTML('beforeend', response.data);
                    if (response.data.length == 0)
                    {
                        alert('There are no further comments.');
                    }
                })
                .catch((error) => {
                    console.error(error)
                });

        }
    </script>
{% endblock %}