{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Profile{% endblock %}

{% block h1 %}
    <h1 class="uk-text-uppercase">Hello {{ app.user.name }}</h1>
{% endblock %}

{% block body %}

    <div class="uk-container uk-container-xsmall">
        <div class="uk-card uk-text-center">
            <div class="uk-card-body">
                <div class="img-profile">
                    <img class="uk-border-circle" width="100" height="100" src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="Photo de profil de {{ app.user.name }}">
                </div>

                <h2>{{ app.user.name }}</h2>
                
                <div class="uk-text-left">
                    <p><span uk-icon="mail"></span> {{ app.user.email }}</p>
                    <p><span uk-icon="history"></span> <i>Account created on {{ app.user.createdAt | date('d-m-Y H:i') }}</i></p>
                </div>
            </div>

            <div class="uk-card-footer">
                <a href="{{ path('user_edit') }}" class="uk-button uk-button-primary">Edit my profile</a>
            </div>
        </div>
    </div>

{% endblock %}
